PROJECT=healthsync
API_PORT=3000
GRPC_PORT=50051

POSTGRES_PORT=5433
POSTGRES_DB=healthsync
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

#Replace JWT
JWT_SECRET='aU836i>en=u$v1@^SRQDxJVO3ufZDseaRh9?4Vi+Yln'

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/healthsync?schema=public